# === Node / Dependencies ===
node_modules/

# === Expo ===
.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts

# === Native Builds ===
/ios
/android
.kotlin/
*.orig.*

# === Sensitive Files / Keys ===
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.pem

# === Metro Bundler ===
.metro-health-check*

# === Debug / Logs ===
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# === Coverage Reports ===
coverage/

# === macOS ===
.DS_Store

# === Local env files ===
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env*.local

# === TypeScript ===
*.tsbuildinfo

# === VS Code ===
.vscode/

# === Watchman ===
.watchmanconfig

# === Fastlane (si usas para deploy nativo) ===
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# === Firebase Emulator ===
.firebase/
firebase-debug.log
firestore-debug.log
ui-debug.log
database-debug.log