# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock

# React Native / Metro
.expo/
.expo-shared/
dist/
tmp/
*.tmp
*.temp
*.log
.cache/
.metro/
bundles/

# Android
android/.gradle/
android/app/build/
android/build/
android/local.properties
*.keystore
*.apk
*.aar
*.iml

# iOS
ios/Pods/
ios/build/
ios/DerivedData/
*.xcworkspace
*.xcuserstate
*.xcuserdata/

# macOS
.DS_Store

# VS Code
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/launch.json
!.vscode/tasks.json

# JetBrains / otros IDEs
.idea/

# Testing
coverage/
jest-html-reporters-*

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
